.column-layout {
  width: 90%
  margin: 0 auto;
  display: flex;
  border: 5px solid red;
}

.first-column {
  flex-basis: 50%
  display: flex;
  text-align: center;
  border: 2px solid black;
}

.first-column  <p> {
  font-size: 1.25rem;
}

.second-column {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 5 px 35 px 25% black;
 }

main{
  flex: 70%;
  padding: 20px;
}

h1 {
    font-size: 20px;
    text-align: center;
    font-style: bold;
  }
 
h2 {
    font-size: 20px:
     text-align: center;
     font-style: bold;
}
 
p, li {
    font-size: 20px;
    line-height: 2;
    letter-spacing: 1px;
  }
  
@media (max-width: 500px){
   .column-layout {
   width: 80%;
  flex-direction: column;
  }
}

header {
     width:800px;
     margin: 0 auto;
     padding: 0 10px 10px 10px;
     border: 10px;
   }


  body {
    width: 1000px;
    margin:0 auto;
    background-color: #00ff9d;
    padding: 0 200px 200px 200px;
    border: 2px dotted aqua;
}
   
.pic {
  object-position: top-right;
  border-radius: 50%;
  width: 200px;
  padding: auto;
 }

.pageHeading {
  Object-position: center;
  padding: auto;
  width: 200px;
}

button {
    background-color: yellowgreen;
    color: white;
    padding: 15px 20px;
    margin: 10px 0;
    cursor: pointer;
    width: 100%;
}

   label {
   display:inline-block;
   width: 150px;
   text-align:right;
}

button {
  margin-left: 155px;
  margin-top:10px;
}


