.flexbox-container {
   height: 200px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
  }

.flex-box-item: {
  width: 200;
  margin: 12px;
  border: 3px dottd black;
}

.flex-box-item-1 {
   min-height: 100px;
}

.flex-box-item-2 {
   min-height: 100px;
}
   
main{
  flex: 70%;
  padding: 20px;
}

}

h1 {
    font-size: 20px;
    text-align: center;
    font: darkgrey;
  }
  
 p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }
  @media screen and (min: width 500px) and (max-width:1024px){
   }
   
header {
     width:800px;
     margin: 0 auto;
     padding: 0 10px 10px 10px;
     border: 10px;
   }

}
  body {
    width:600px;
    margin:0 auto;
    background-color: #00ff9d;
    padding: 0 10px 10px 10px;
    border: 10px solid aqua;
img {
  object-position: right;
  border-radius: 50%;
  <img src="Darlene.jpeg"alt="picture of me" height 10px width 10px>
}
button {
    background-color: yellowgreen;
    color: white;
    padding: 15px 20px;
    margin: 10px 0;
    cursor: pointer;
    width: 100%;
}
label{
   display:inline-block;
   width: 150px;
   text-align:right;
}
button{
  margin-left: 155px;
  margin-top:10px;
}


